<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    
    <!-- Conexión directa -->
    <!-- Contiene la FQCN del driver de la base de datos a usar -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <!-- La URL de conexión a la base de datos tal y como se usa en JDBC -->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cursoHibernate?zeroDateTimeBehavior=convertToNull</property>
    <!-- El usuario de la base de datos -->
    <property name="hibernate.connection.username">java2019</property>
    <!-- La contraseña de la base de datos -->
    <property name="hibernate.connection.password">2019</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    
    
    <mapping resource="modelo/Profesor.hbm.xml"/>
    <mapping resource="modelo/Direccion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
